

.pvc-video-card-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--text-default-clr);
}

.pvc-video-card-body-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.pvc-video-card-title{
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 0.6rem;
}

.pvc-video-card-subtitle{
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--text-grey)
}

.pvc-videocard-option-container{
    margin-left: 5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.fa-ellipsis-vertical{
    color: white;
}

.pvc-video-card-option-wrapper{
    background-color: var(--card-bg);
    z-index: 1;
    position: absolute;
    right: 0;
    white-space: nowrap;

}


.pvc-trashcan{
    color: rgb(190, 0, 0);
    font-size: 1.3rem;
    cursor: pointer;
}
